.styles_container__XX6JI {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px
}

@media(max-width:1200px) {
    .styles_container__XX6JI {
        width: 100%
    }
}

.styles_row__2OTa0 {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    column-gap: 16px;
    width: 100%
}

@media screen and (min-width:1024px) {
    .styles_row__2OTa0 {
        column-gap: 32px
    }
}

.styles_row__2OTa0>* {
    min-width: 0
}

@supports not (column-gap:32px) {
    .styles_row__2OTa0>* {
        margin: 0 calc(16px/2)
    }

    @media screen and (min-width:1024px) {
        .styles_row__2OTa0>* {
            margin: 0 calc(32px/2)
        }
    }
}

.styles_col__ozxzj {
    flex-basis: 0;
    flex-grow: 1
}

.styles_col1__nu6px {
    flex-basis: calc(8.3333%*1 - 16px/12*(12 - 1));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col1__nu6px {
        flex-basis: calc(8.3333%*1 - 32px/12*(12 - 1))
    }
}

.styles_col2__WzCzq {
    flex-basis: calc(8.3333%*2 - 16px/12*(12 - 2));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col2__WzCzq {
        flex-basis: calc(8.3333%*2 - 32px/12*(12 - 2))
    }
}

.styles_col3__O_eWS {
    flex-basis: calc(8.3333%*3 - 16px/12*(12 - 3));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col3__O_eWS {
        flex-basis: calc(8.3333%*3 - 32px/12*(12 - 3))
    }
}

.styles_col4__pU2tz {
    flex-basis: calc(8.3333%*4 - 16px/12*(12 - 4));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col4__pU2tz {
        flex-basis: calc(8.3333%*4 - 32px/12*(12 - 4))
    }
}

.styles_col5__FPKCT {
    flex-basis: calc(8.3333%*5 - 16px/12*(12 - 5));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col5__FPKCT {
        flex-basis: calc(8.3333%*5 - 32px/12*(12 - 5))
    }
}

.styles_col6__o5aqC {
    flex-basis: calc(8.3333%*6 - 16px/12*(12 - 6));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col6__o5aqC {
        flex-basis: calc(8.3333%*6 - 32px/12*(12 - 6))
    }
}

.styles_col7__ZCtg5 {
    flex-basis: calc(8.3333%*7 - 16px/12*(12 - 7));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col7__ZCtg5 {
        flex-basis: calc(8.3333%*7 - 32px/12*(12 - 7))
    }
}

.styles_col8__f2x9Y {
    flex-basis: calc(8.3333%*8 - 16px/12*(12 - 8));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col8__f2x9Y {
        flex-basis: calc(8.3333%*8 - 32px/12*(12 - 8))
    }
}

.styles_col9__sb0mH {
    flex-basis: calc(8.3333%*9 - 16px/12*(12 - 9));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col9__sb0mH {
        flex-basis: calc(8.3333%*9 - 32px/12*(12 - 9))
    }
}

.styles_col10__c_YNV {
    flex-basis: calc(8.3333%*10 - 16px/12*(12 - 10));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col10__c_YNV {
        flex-basis: calc(8.3333%*10 - 32px/12*(12 - 10))
    }
}

.styles_col11__DFPKu {
    flex-basis: calc(8.3333%*11 - 16px/12*(12 - 11));
    flex-grow: unset
}

@media screen and (min-width:1024px) {
    .styles_col11__DFPKu {
        flex-basis: calc(8.3333%*11 - 32px/12*(12 - 11))
    }
}

.styles_col12__LCMXs {
    flex-basis: 100%
}

@media only screen and (min-width:) {
    .styles_col__ozxzj {
        flex-basis: 0;
        flex-grow: 1
    }

    .styles_col1__nu6px {
        flex-basis: calc(8.3333%*1 - 16px/12*(12 - 1));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col1__nu6px {
        flex-basis: calc(8.3333%*1 - 32px/12*(12 - 1))
    }
}

@media only screen and (min-width:) {
    .styles_col2__WzCzq {
        flex-basis: calc(8.3333%*2 - 16px/12*(12 - 2));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col2__WzCzq {
        flex-basis: calc(8.3333%*2 - 32px/12*(12 - 2))
    }
}

@media only screen and (min-width:) {
    .styles_col3__O_eWS {
        flex-basis: calc(8.3333%*3 - 16px/12*(12 - 3));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col3__O_eWS {
        flex-basis: calc(8.3333%*3 - 32px/12*(12 - 3))
    }
}

@media only screen and (min-width:) {
    .styles_col4__pU2tz {
        flex-basis: calc(8.3333%*4 - 16px/12*(12 - 4));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col4__pU2tz {
        flex-basis: calc(8.3333%*4 - 32px/12*(12 - 4))
    }
}

@media only screen and (min-width:) {
    .styles_col5__FPKCT {
        flex-basis: calc(8.3333%*5 - 16px/12*(12 - 5));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col5__FPKCT {
        flex-basis: calc(8.3333%*5 - 32px/12*(12 - 5))
    }
}

@media only screen and (min-width:) {
    .styles_col6__o5aqC {
        flex-basis: calc(8.3333%*6 - 16px/12*(12 - 6));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col6__o5aqC {
        flex-basis: calc(8.3333%*6 - 32px/12*(12 - 6))
    }
}

@media only screen and (min-width:) {
    .styles_col7__ZCtg5 {
        flex-basis: calc(8.3333%*7 - 16px/12*(12 - 7));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col7__ZCtg5 {
        flex-basis: calc(8.3333%*7 - 32px/12*(12 - 7))
    }
}

@media only screen and (min-width:) {
    .styles_col8__f2x9Y {
        flex-basis: calc(8.3333%*8 - 16px/12*(12 - 8));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col8__f2x9Y {
        flex-basis: calc(8.3333%*8 - 32px/12*(12 - 8))
    }
}

@media only screen and (min-width:) {
    .styles_col9__sb0mH {
        flex-basis: calc(8.3333%*9 - 16px/12*(12 - 9));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col9__sb0mH {
        flex-basis: calc(8.3333%*9 - 32px/12*(12 - 9))
    }
}

@media only screen and (min-width:) {
    .styles_col10__c_YNV {
        flex-basis: calc(8.3333%*10 - 16px/12*(12 - 10));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col10__c_YNV {
        flex-basis: calc(8.3333%*10 - 32px/12*(12 - 10))
    }
}

@media only screen and (min-width:) {
    .styles_col11__DFPKu {
        flex-basis: calc(8.3333%*11 - 16px/12*(12 - 11));
        flex-grow: unset
    }
}

@media only screen and (min-width:)and (min-width:1024px) {
    .styles_col11__DFPKu {
        flex-basis: calc(8.3333%*11 - 32px/12*(12 - 11))
    }
}

@media only screen and (min-width:) {
    .styles_col12__LCMXs {
        flex-basis: 100%
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs__lnFQ_ {
        flex-basis: 0;
        flex-grow: 1
    }

    .styles_colXs1__doVYk {
        flex-basis: calc(8.3333%*1 - 16px/12*(12 - 1));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs1__doVYk {
        flex-basis: calc(8.3333%*1 - 32px/12*(12 - 1))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs2__3uR6g {
        flex-basis: calc(8.3333%*2 - 16px/12*(12 - 2));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs2__3uR6g {
        flex-basis: calc(8.3333%*2 - 32px/12*(12 - 2))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs3__M0hzM {
        flex-basis: calc(8.3333%*3 - 16px/12*(12 - 3));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs3__M0hzM {
        flex-basis: calc(8.3333%*3 - 32px/12*(12 - 3))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs4__vxXij {
        flex-basis: calc(8.3333%*4 - 16px/12*(12 - 4));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs4__vxXij {
        flex-basis: calc(8.3333%*4 - 32px/12*(12 - 4))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs5__HzaMF {
        flex-basis: calc(8.3333%*5 - 16px/12*(12 - 5));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs5__HzaMF {
        flex-basis: calc(8.3333%*5 - 32px/12*(12 - 5))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs6__c4V1a {
        flex-basis: calc(8.3333%*6 - 16px/12*(12 - 6));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs6__c4V1a {
        flex-basis: calc(8.3333%*6 - 32px/12*(12 - 6))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs7__pHM0G {
        flex-basis: calc(8.3333%*7 - 16px/12*(12 - 7));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs7__pHM0G {
        flex-basis: calc(8.3333%*7 - 32px/12*(12 - 7))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs8__rKi_f {
        flex-basis: calc(8.3333%*8 - 16px/12*(12 - 8));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs8__rKi_f {
        flex-basis: calc(8.3333%*8 - 32px/12*(12 - 8))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs9__SFJz9 {
        flex-basis: calc(8.3333%*9 - 16px/12*(12 - 9));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs9__SFJz9 {
        flex-basis: calc(8.3333%*9 - 32px/12*(12 - 9))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs10__hR74f {
        flex-basis: calc(8.3333%*10 - 16px/12*(12 - 10));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs10__hR74f {
        flex-basis: calc(8.3333%*10 - 32px/12*(12 - 10))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs11__BlLpa {
        flex-basis: calc(8.3333%*11 - 16px/12*(12 - 11));
        flex-grow: unset
    }
}

@media only screen and (min-width:425px)and (min-width:1024px) {
    .styles_colXs11__BlLpa {
        flex-basis: calc(8.3333%*11 - 32px/12*(12 - 11))
    }
}

@media only screen and (min-width:425px) {
    .styles_colXs12__MEpbn {
        flex-basis: 100%
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm__r8Zkj {
        flex-basis: 0;
        flex-grow: 1
    }

    .styles_colSm1__U9pGZ {
        flex-basis: calc(8.3333%*1 - 16px/12*(12 - 1));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm1__U9pGZ {
        flex-basis: calc(8.3333%*1 - 32px/12*(12 - 1))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm2__voNeg {
        flex-basis: calc(8.3333%*2 - 16px/12*(12 - 2));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm2__voNeg {
        flex-basis: calc(8.3333%*2 - 32px/12*(12 - 2))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm3__EXseF {
        flex-basis: calc(8.3333%*3 - 16px/12*(12 - 3));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm3__EXseF {
        flex-basis: calc(8.3333%*3 - 32px/12*(12 - 3))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm4__b1HA8 {
        flex-basis: calc(8.3333%*4 - 16px/12*(12 - 4));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm4__b1HA8 {
        flex-basis: calc(8.3333%*4 - 32px/12*(12 - 4))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm5__U_FJw {
        flex-basis: calc(8.3333%*5 - 16px/12*(12 - 5));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm5__U_FJw {
        flex-basis: calc(8.3333%*5 - 32px/12*(12 - 5))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm6__WH5LA {
        flex-basis: calc(8.3333%*6 - 16px/12*(12 - 6));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm6__WH5LA {
        flex-basis: calc(8.3333%*6 - 32px/12*(12 - 6))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm7__b_ZSa {
        flex-basis: calc(8.3333%*7 - 16px/12*(12 - 7));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm7__b_ZSa {
        flex-basis: calc(8.3333%*7 - 32px/12*(12 - 7))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm8__K298j {
        flex-basis: calc(8.3333%*8 - 16px/12*(12 - 8));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm8__K298j {
        flex-basis: calc(8.3333%*8 - 32px/12*(12 - 8))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm9__wis16 {
        flex-basis: calc(8.3333%*9 - 16px/12*(12 - 9));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm9__wis16 {
        flex-basis: calc(8.3333%*9 - 32px/12*(12 - 9))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm10__OhZZ5 {
        flex-basis: calc(8.3333%*10 - 16px/12*(12 - 10));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm10__OhZZ5 {
        flex-basis: calc(8.3333%*10 - 32px/12*(12 - 10))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm11__NlLFJ {
        flex-basis: calc(8.3333%*11 - 16px/12*(12 - 11));
        flex-grow: unset
    }
}

@media only screen and (min-width:768px)and (min-width:1024px) {
    .styles_colSm11__NlLFJ {
        flex-basis: calc(8.3333%*11 - 32px/12*(12 - 11))
    }
}

@media only screen and (min-width:768px) {
    .styles_colSm12__go1cE {
        flex-basis: 100%
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb__uxkmv {
        flex-basis: 0;
        flex-grow: 1
    }

    .styles_colTb1__bOk8h {
        flex-basis: calc(8.3333%*1 - 16px/12*(12 - 1));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb1__bOk8h {
        flex-basis: calc(8.3333%*1 - 32px/12*(12 - 1))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb2__CZQPn {
        flex-basis: calc(8.3333%*2 - 16px/12*(12 - 2));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb2__CZQPn {
        flex-basis: calc(8.3333%*2 - 32px/12*(12 - 2))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb3__VSAbO {
        flex-basis: calc(8.3333%*3 - 16px/12*(12 - 3));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb3__VSAbO {
        flex-basis: calc(8.3333%*3 - 32px/12*(12 - 3))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb4__YU6mc {
        flex-basis: calc(8.3333%*4 - 16px/12*(12 - 4));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb4__YU6mc {
        flex-basis: calc(8.3333%*4 - 32px/12*(12 - 4))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb5__5vB4R {
        flex-basis: calc(8.3333%*5 - 16px/12*(12 - 5));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb5__5vB4R {
        flex-basis: calc(8.3333%*5 - 32px/12*(12 - 5))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb6__hSNTV {
        flex-basis: calc(8.3333%*6 - 16px/12*(12 - 6));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb6__hSNTV {
        flex-basis: calc(8.3333%*6 - 32px/12*(12 - 6))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb7__PXV5b {
        flex-basis: calc(8.3333%*7 - 16px/12*(12 - 7));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb7__PXV5b {
        flex-basis: calc(8.3333%*7 - 32px/12*(12 - 7))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb8__VlUWt {
        flex-basis: calc(8.3333%*8 - 16px/12*(12 - 8));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb8__VlUWt {
        flex-basis: calc(8.3333%*8 - 32px/12*(12 - 8))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb9__vCRXe {
        flex-basis: calc(8.3333%*9 - 16px/12*(12 - 9));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb9__vCRXe {
        flex-basis: calc(8.3333%*9 - 32px/12*(12 - 9))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb10__11n1G {
        flex-basis: calc(8.3333%*10 - 16px/12*(12 - 10));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb10__11n1G {
        flex-basis: calc(8.3333%*10 - 32px/12*(12 - 10))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb11__otWTt {
        flex-basis: calc(8.3333%*11 - 16px/12*(12 - 11));
        flex-grow: unset
    }
}

@media only screen and (min-width:992px)and (min-width:1024px) {
    .styles_colTb11__otWTt {
        flex-basis: calc(8.3333%*11 - 32px/12*(12 - 11))
    }
}

@media only screen and (min-width:992px) {
    .styles_colTb12__m2KqO {
        flex-basis: 100%
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd__C9bYk {
        flex-basis: 0;
        flex-grow: 1
    }

    .styles_colMd1__3YsoK {
        flex-basis: calc(8.3333%*1 - 16px/12*(12 - 1));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd1__3YsoK {
        flex-basis: calc(8.3333%*1 - 32px/12*(12 - 1))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd2__oscV_ {
        flex-basis: calc(8.3333%*2 - 16px/12*(12 - 2));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd2__oscV_ {
        flex-basis: calc(8.3333%*2 - 32px/12*(12 - 2))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd3__uVhx0 {
        flex-basis: calc(8.3333%*3 - 16px/12*(12 - 3));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd3__uVhx0 {
        flex-basis: calc(8.3333%*3 - 32px/12*(12 - 3))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd4__HLuw1 {
        flex-basis: calc(8.3333%*4 - 16px/12*(12 - 4));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd4__HLuw1 {
        flex-basis: calc(8.3333%*4 - 32px/12*(12 - 4))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd5__BkIn_ {
        flex-basis: calc(8.3333%*5 - 16px/12*(12 - 5));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd5__BkIn_ {
        flex-basis: calc(8.3333%*5 - 32px/12*(12 - 5))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd6__wMT7X {
        flex-basis: calc(8.3333%*6 - 16px/12*(12 - 6));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd6__wMT7X {
        flex-basis: calc(8.3333%*6 - 32px/12*(12 - 6))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd7__5D922 {
        flex-basis: calc(8.3333%*7 - 16px/12*(12 - 7));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd7__5D922 {
        flex-basis: calc(8.3333%*7 - 32px/12*(12 - 7))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd8__0ZflD {
        flex-basis: calc(8.3333%*8 - 16px/12*(12 - 8));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd8__0ZflD {
        flex-basis: calc(8.3333%*8 - 32px/12*(12 - 8))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd9__gUCgl {
        flex-basis: calc(8.3333%*9 - 16px/12*(12 - 9));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd9__gUCgl {
        flex-basis: calc(8.3333%*9 - 32px/12*(12 - 9))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd10__jrFW5 {
        flex-basis: calc(8.3333%*10 - 16px/12*(12 - 10));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd10__jrFW5 {
        flex-basis: calc(8.3333%*10 - 32px/12*(12 - 10))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd11__tdYlj {
        flex-basis: calc(8.3333%*11 - 16px/12*(12 - 11));
        flex-grow: unset
    }
}

@media only screen and (min-width:1024px)and (min-width:1024px) {
    .styles_colMd11__tdYlj {
        flex-basis: calc(8.3333%*11 - 32px/12*(12 - 11))
    }
}

@media only screen and (min-width:1024px) {
    .styles_colMd12__FGdl6 {
        flex-basis: 100%
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg__BhnyM {
        flex-basis: 0;
        flex-grow: 1
    }

    .styles_colLg1__iwIFW {
        flex-basis: calc(8.3333%*1 - 16px/12*(12 - 1));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg1__iwIFW {
        flex-basis: calc(8.3333%*1 - 32px/12*(12 - 1))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg2__HkvQy {
        flex-basis: calc(8.3333%*2 - 16px/12*(12 - 2));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg2__HkvQy {
        flex-basis: calc(8.3333%*2 - 32px/12*(12 - 2))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg3__GOIIF {
        flex-basis: calc(8.3333%*3 - 16px/12*(12 - 3));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg3__GOIIF {
        flex-basis: calc(8.3333%*3 - 32px/12*(12 - 3))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg4__8hsUp {
        flex-basis: calc(8.3333%*4 - 16px/12*(12 - 4));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg4__8hsUp {
        flex-basis: calc(8.3333%*4 - 32px/12*(12 - 4))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg5__TABlQ {
        flex-basis: calc(8.3333%*5 - 16px/12*(12 - 5));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg5__TABlQ {
        flex-basis: calc(8.3333%*5 - 32px/12*(12 - 5))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg6__80YVA {
        flex-basis: calc(8.3333%*6 - 16px/12*(12 - 6));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg6__80YVA {
        flex-basis: calc(8.3333%*6 - 32px/12*(12 - 6))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg7__YZ4cp {
        flex-basis: calc(8.3333%*7 - 16px/12*(12 - 7));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg7__YZ4cp {
        flex-basis: calc(8.3333%*7 - 32px/12*(12 - 7))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg8__HAhDH {
        flex-basis: calc(8.3333%*8 - 16px/12*(12 - 8));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg8__HAhDH {
        flex-basis: calc(8.3333%*8 - 32px/12*(12 - 8))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg9__DcL4f {
        flex-basis: calc(8.3333%*9 - 16px/12*(12 - 9));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg9__DcL4f {
        flex-basis: calc(8.3333%*9 - 32px/12*(12 - 9))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg10__paboN {
        flex-basis: calc(8.3333%*10 - 16px/12*(12 - 10));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg10__paboN {
        flex-basis: calc(8.3333%*10 - 32px/12*(12 - 10))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg11__2aEY_ {
        flex-basis: calc(8.3333%*11 - 16px/12*(12 - 11));
        flex-grow: unset
    }
}

@media only screen and (min-width:1201px)and (min-width:1024px) {
    .styles_colLg11__2aEY_ {
        flex-basis: calc(8.3333%*11 - 32px/12*(12 - 11))
    }
}

@media only screen and (min-width:1201px) {
    .styles_colLg12__LqoFK {
        flex-basis: 100%
    }
}

.styles_modalBg__W7egB {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16191c;
    opacity: .75;
    z-index: 1000
}

.styles_enter__44pWX {
    opacity: 0
}

.styles_enterActive__OWvq_ {
    opacity: .75;
    transition: opacity .4s ease
}

.styles_enterDone__FGDZv,
.styles_exit__P65zr {
    opacity: .75
}

.styles_exitActive__q7GqA {
    opacity: 0;
    transition: opacity .4s ease
}

.styles_switch__1oXiO {
    position: relative;
    display: block;
    width: 52px;
    height: 32px;
    cursor: pointer
}

.styles_switch__1oXiO.styles_small__RX6Ud {
    width: 40px;
    height: 20px
}

.styles_input___t3zl {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none
}

.styles_slider__cEOi8 {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 100px;
    transition: background-color .3s;
    pointer-events: none
}

.styles_disabled__2egzO .styles_slider__cEOi8 {
    background-color: #f5f5f5
}

.styles_dark__LRu_h .styles_slider__cEOi8 {
    background-color: hsla(0, 0%, 100%, .15)
}

.styles_disabled__2egzO.styles_dark__LRu_h .styles_slider__cEOi8 {
    background-color: hsla(0, 0%, 100%, .05)
}

.styles_slider__cEOi8:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform .3s;
    box-shadow: 0 12px 16px -4px rgba(22, 25, 28, .08), 0 4px 6px -2px rgba(22, 25, 28, .03);
    z-index: 1
}

.styles_disabled__2egzO .styles_slider__cEOi8:before {
    box-shadow: none
}

.styles_small__RX6Ud .styles_slider__cEOi8:before {
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px
}

.styles_slider__cEOi8:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: -4px;
    left: -4px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color .3s;
    z-index: 0
}

.styles_small__RX6Ud .styles_slider__cEOi8:after {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0
}

.styles_input___t3zl:hover+.styles_slider__cEOi8 {
    background-color: #c4c4c5
}

.styles_input___t3zl:hover+.styles_slider__cEOi8:after {
    background-color: rgba(0, 0, 0, .05)
}

.styles_input___t3zl:checked+.styles_slider__cEOi8 {
    background-color: #1ebfbf
}

.styles_input___t3zl:checked+.styles_slider__cEOi8:after,
.styles_input___t3zl:checked+.styles_slider__cEOi8:before {
    transform: translateX(20px)
}

.styles_input___t3zl:focus:focus-visible+.styles_slider__cEOi8 {
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: 2px
}

.styles_dark__LRu_h .styles_input___t3zl:hover+.styles_slider__cEOi8 {
    background-color: hsla(0, 0%, 100%, .15)
}

.styles_dark__LRu_h .styles_input___t3zl:hover+.styles_slider__cEOi8:after {
    background-color: hsla(0, 0%, 100%, .05)
}

.styles_dark__LRu_h .styles_input___t3zl:checked+.styles_slider__cEOi8 {
    background-color: #1ebfbf
}

.styles_disabled__2egzO {
    cursor: auto
}

.styles_disabled__2egzO .styles_input___t3zl:focus+.styles_slider__cEOi8,
.styles_disabled__2egzO .styles_input___t3zl:hover+.styles_slider__cEOi8 {
    background-color: #f5f5f5
}

.styles_disabled__2egzO .styles_input___t3zl:focus+.styles_slider__cEOi8:after,
.styles_disabled__2egzO .styles_input___t3zl:hover+.styles_slider__cEOi8:after {
    background-color: transparent
}

.styles_disabled__2egzO .styles_input___t3zl:checked+.styles_slider__cEOi8 {
    background-color: #e8f7f8
}

.styles_disabled__2egzO.styles_dark__LRu_h .styles_input___t3zl:checked+.styles_slider__cEOi8,
.styles_disabled__2egzO.styles_dark__LRu_h .styles_input___t3zl:focus+.styles_slider__cEOi8,
.styles_disabled__2egzO.styles_dark__LRu_h .styles_input___t3zl:hover+.styles_slider__cEOi8 {
    background-color: hsla(0, 0%, 100%, .05)
}

.styles_disabled__2egzO.styles_dark__LRu_h .styles_input___t3zl:checked+.styles_slider__cEOi8:before {
    background-color: #2e3033
}

.styles_switch__1oXiO:active .styles_input___t3zl:focus+.styles_slider__cEOi8:after,
.styles_switch__1oXiO:active .styles_input___t3zl:hover+.styles_slider__cEOi8:after {
    background-color: transparent
}

.styles_visuallyHidden__RSycD {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.styles_wrapper__OVORQ {
    display: flex;
    flex-direction: column
}

.styles_header__WyZKh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0
}

.styles_header__WyZKh.styles_isExpanded__4cqyy {
    margin-bottom: 0
}

.styles_sideWrapper__MiI7e {
    border: none;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #16191c
}

@media screen and (min-width:1024px) {
    .styles_sideWrapper__MiI7e {
        gap: 16px
    }
}

.styles_sideWrapper__MiI7e:first-child {
    cursor: pointer
}

.styles_sideWrapper__MiI7e .styles_icon__V8_Va {
    display: inline-block;
    flex-shrink: 0;
    transition: transform .3s
}

.styles_sideWrapper__MiI7e .styles_icon__V8_Va.styles_isExpanded__4cqyy {
    transform: rotate(180deg)
}

.styles_sideWrapper__MiI7e .styles_title__iUktw {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.1px;
    margin-bottom: 0
}

.styles_sideWrapper__MiI7e:hover .styles_icon__V8_Va,
.styles_sideWrapper__MiI7e:hover .styles_title__iUktw {
    color: #423d3d
}

.styles_headerText__FYr_Y {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: .1px;
    margin-bottom: 0;
    color: #a3a4a6;
    padding: 5px 0
}

@media screen and (min-width:1024px) {
    .styles_headerText__FYr_Y {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -.1px;
        margin-bottom: 0;
        padding: 4px 0
    }
}

.styles_content__noofT {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: .1px;
    margin-bottom: 0;
    color: #423d3d;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: height .3s, opacity .3s
}

@media screen and (min-width:1024px) {
    .styles_content__noofT {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -.1px;
        margin-bottom: 0
    }
}

.styles_content__noofT.styles_isExpanded__4cqyy {
    visibility: inherit;
    height: auto;
    opacity: 1;
    margin: 8px 0
}

@media screen and (min-width:1024px) {
    .styles_content__noofT.styles_isExpanded__4cqyy {
        margin: 16px 0
    }
}

.styles_divider__RhkU4 {
    display: none
}

@media screen and (min-width:1024px) {
    .styles_divider__RhkU4 {
        display: block;
        height: 2px;
        background-color: rgba(0, 0, 0, .05);
        border-radius: 8px
    }
}

.styles_button__TdXNN {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    cursor: pointer;
    min-height: 48px;
    padding: 12px 16px;
    border-radius: 12px;
    color: #2e3033;
    background-color: #eee;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 0
}

.styles_button__TdXNN.styles_isResponsive__zhfZN {
    width: 100%
}

.styles_button__TdXNN.styles_isSmall__oIvGO {
    padding: 8px 12px;
    min-height: 40px
}

.styles_button__TdXNN:hover {
    color: #423d3d;
    background-color: #c4c4c5
}

.styles_button__TdXNN:active {
    color: #16191c;
    background-color: #c4c4c5
}

.styles_button__TdXNN.styles_isLight__5NOYv {
    background-color: transparent
}

.styles_button__TdXNN.styles_isLight__5NOYv:active,
.styles_button__TdXNN.styles_isLight__5NOYv:hover {
    color: #16191c
}

.styles_button__TdXNN .styles_text__0YNMr {
    padding: 4px 0
}

.styles_popup__8cGDP {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: #fff;
    box-shadow: 0 12px 16px -4px rgba(22, 25, 28, .08), 0 4px 6px -2px rgba(22, 25, 28, .03);
    z-index: 1000;
    outline: none
}

@media screen and (min-width:768px) {
    .styles_popup__8cGDP {
        padding: 32px 16px;
        row-gap: 32px
    }
}

@media screen and (min-width:1024px) {
    .styles_popup__8cGDP {
        width: 368px;
        bottom: 16px;
        left: 16px;
        padding: 32px 24px;
        row-gap: 24px;
        border-radius: 32px
    }
}

.styles_popup__8cGDP.styles_popupEnter__8XPO3 {
    bottom: -100%
}

.styles_popup__8cGDP.styles_popupEnterActive__lMT8W {
    bottom: 0;
    transition: bottom .4s ease
}

@media screen and (min-width:1024px) {
    .styles_popup__8cGDP.styles_popupEnterActive__lMT8W {
        bottom: 16px
    }
}

.styles_popup__8cGDP.styles_popupEnterDone__qaM_1 {
    bottom: 0
}

@media screen and (min-width:1024px) {
    .styles_popup__8cGDP.styles_popupEnterDone__qaM_1 {
        bottom: 16px
    }
}

.styles_popup__8cGDP.styles_popupExitActive__Dfd_F {
    bottom: -100%;
    transition: bottom .4s ease
}

.styles_modalDialog__OAsnm {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 100svh;
    background-color: #fff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    overflow: auto;
    z-index: 1000
}

@media screen and (min-width:768px) {
    .styles_modalDialog__OAsnm {
        max-width: 610px;
        height: -moz-fit-content;
        height: fit-content;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 24px
    }
}

@media screen and (min-width:1024px) {
    .styles_modalDialog__OAsnm {
        max-width: 568px
    }
}

.styles_modalContainer__M_R0f {
    padding-top: 16px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px
}

@media screen and (min-width:768px) {
    .styles_modalContainer__M_R0f {
        padding: 32px;
        row-gap: 24px
    }
}

.styles_title__JNXBz {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -.2px;
    margin-bottom: 8px;
    color: #16191c
}

@media screen and (min-width:768px) {
    .styles_title__JNXBz {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: .25px;
        margin-bottom: 16px
    }
}

@media screen and (min-width:1024px) {
    .styles_title__JNXBz {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: .25px;
        margin-bottom: 16px
    }
}

.styles_secondaryTitle__bPzD0 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: .25px;
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #16191c
}

@media screen and (min-width:1024px) {
    .styles_secondaryTitle__bPzD0 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: .25px;
        margin-bottom: 16px
    }
}

.styles_closeButton__3efUU {
    padding: 2px;
    display: flex;
    cursor: pointer;
    border: unset;
    color: #423d3d
}

@media screen and (min-width:768px) {
    .styles_closeButton__3efUU {
        padding: 12px
    }
}

.styles_closeIcon__bihiE {
    width: 18px;
    height: 18px
}

@media screen and (min-width:768px) {
    .styles_closeIcon__bihiE {
        width: 24px;
        height: 24px
    }
}

.styles_text__nc4M0 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: .1px;
    margin-bottom: 0;
    color: #423d3d
}

@media screen and (min-width:1024px) {
    .styles_text__nc4M0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -.1px;
        margin-bottom: 0
    }
}

.styles_link__Hbrfs {
    text-decoration: underline
}

.styles_settingsPanels__EwL9E {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px
}

@media screen and (min-width:768px) {
    .styles_settingsPanels__EwL9E {
        padding-top: 24px
    }
}

.styles_mainButtonsRow__CXHVQ {
    flex-direction: column;
    gap: 8px
}

@media screen and (min-width:768px) {
    .styles_mainButtonsRow__CXHVQ {
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 16px
    }
}

@media screen and (min-width:1024px) {
    .styles_mainButtonsRow__CXHVQ {
        flex-direction: column
    }
}

.styles_dividerRow__6ePaj {
    height: 2px;
    width: calc(100% + 32px);
    margin-bottom: 8px;
    margin-right: -16px;
    margin-left: -16px;
    background-color: rgba(0, 0, 0, .05)
}

@media screen and (min-width:768px) {
    .styles_dividerRow__6ePaj {
        display: none
    }
}

.styles_settingsButtonsRow__v2AdY {
    justify-content: flex-end;
    flex-direction: column;
    row-gap: 8px
}

@media screen and (min-width:768px) {
    .styles_settingsButtonsRow__v2AdY {
        flex-direction: row;
        column-gap: 16px
    }
}

.styles_modalEnter__FTbQV {
    bottom: -100%
}

@media screen and (min-width:768px) {
    .styles_modalEnter__FTbQV {
        bottom: -50%
    }
}

.styles_modalEnterActive__1VZZx {
    bottom: 0;
    transition: bottom .4s ease
}

@media screen and (min-width:768px) {
    .styles_modalEnterActive__1VZZx {
        bottom: 50%
    }
}

.styles_modalEnterDone__mc7ZY {
    bottom: 0
}

@media screen and (min-width:768px) {
    .styles_modalEnterDone__mc7ZY {
        bottom: 50%
    }
}

.styles_modalExitActive__mIBfW {
    bottom: -100%;
    transition: bottom .4s ease
}

@media screen and (min-width:768px) {
    .styles_modalExitActive__mIBfW {
        bottom: -50%
    }
}

html {
    line-height: 1.15;
    text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button {
    background: inherit
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

@font-face {
    font-family: SurfsharkCircularWeb;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.ss-cdn.com/assets/web-fonts/SurfsharkCircularWeb-Regular.woff2) format("woff2")
}

@font-face {
    font-family: SurfsharkCircularWeb;
    font-weight: 700;
    font-display: swap;
    src: url(https://cdn.ss-cdn.com/assets/web-fonts/SurfsharkCircularWeb-Bold.woff2) format("woff2")
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 10px;
    position: relative
}

body {
    font-family: SurfsharkCircularWeb, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -.4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#__next,
body,
html {
    height: 100%
}

#__next {
    display: flex;
    flex-direction: column
}

@supports(font:-apple-system-body) and (-webkit-appearance:none) {
    img[loading=lazy] {
        -webkit-clip-path: inset(.6px);
        clip-path: inset(.6px)
    }

    button:focus {
        outline: none
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0
}

a {
    color: inherit;
    text-decoration: none
}